/* .searchForm{
    .searchInput{
        padding: 0.5rem;
        min-width: 18rem;
        padding-right: 1rem;
    }
} */
@font-face {
  font-family: 'icomoon';
  src: url("fonts/icomoon.eot?ei53on");
  src: url("fonts/icomoon.eot?ei53on#iefix") format("embedded-opentype"), url("fonts/icomoon.ttf?ei53on") format("truetype"), url("fonts/icomoon.woff?ei53on") format("woff"), url("fonts/icomoon.svg?ei53on#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-breakfast:before {
  content: "\e900";
}

.icon-dinner:before {
  content: "\e901";
}

.icon-lunch:before {
  content: "\e902";
}

.icon-searchIcon:before {
  content: "\e903";
}

.icon-snack:before {
  content: "\e904";
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

li {
  list-style: none;
}

ul, p, h1, h2, h3 {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 2.4rem;
}

a {
  color: white;
  text-decoration: none;
}

.bgCenter {
  background-position: center;
  background-repeat: no-repeat;
}

.fullHeight {
  height: 100%;
}

.overflowHidden {
  overflow: hidden;
}

.overflowAuto {
  overflow: auto;
}

.bold {
  font-weight: bold;
}

.flexCenterAll {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.flexColCenterAll {
  /* center if there are multiple elements */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.flexSpaceBetween {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.selected {
  background-color: white !important;
  color: #4080ff;
}

.appContainer {
  background-color: lightgrey;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #4080ff;
}

.appContainer main {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border-radius: 1.4rem 0 0 1.4rem;
  background-color: white;
}

.contentContainer {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 65%;
  padding: 3rem 3rem 0 3rem;
  -webkit-transition: 1s;
  transition: 1s;
}

.sideContainer {
  overflow: hidden;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  position: fixed;
  right: 0;
  top: 0;
  border-radius: 1.4rem 0 0 1.4rem;
  width: 35%;
  height: 100%;
  background-color: lightseagreen;
  -webkit-transition: 1s;
  transition: 1s;
}

.sideContainer .hideSidebar {
  width: 3rem;
  height: 3rem;
  background-color: orange;
  border: none;
  border-radius: 3rem;
}

/* fixed element hides scrollbar push it over scrollbar width */
.scrollbarMargin {
  right: 1rem !important;
}

.expanded100 {
  width: 100%;
}

.shrinkHide {
  width: 3rem;
  height: 3rem;
}

.shrinkHide aside {
  display: none;
}

@-webkit-keyframes fadeOut {
  0% {
    height: 100%;
    width: 35%;
  }
  100% {
    width: 3rem;
    height: 3rem;
  }
}

@keyframes fadeOut {
  0% {
    height: 100%;
    width: 35%;
  }
  100% {
    width: 3rem;
    height: 3rem;
  }
}

.navBar {
  width: 5.2rem;
  background-color: #4080ff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
}

.navBar ul {
  margin: auto;
}

.navBar ul li {
  padding: 0.3rem;
  border-radius: 0.8rem;
  margin: 0.8rem 0;
  height: 3.4rem;
  width: 3.4rem;
  font-size: 0.9rem;
}

.navBar ul li .svgNavFont {
  font-size: 2.4rem !important;
}

.navBar .helpLink {
  margin: 1rem auto 2rem auto;
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 2rem;
}

.userLink {
  margin-top: 2rem;
}

.userLink .userIcon {
  margin: 0 auto;
  text-align: center;
  border-radius: 0.6rem;
  height: 3rem;
  width: 3rem;
  background-color: white;
}

.userLink .userIcon div {
  height: 1rem;
  width: 1rem;
}

.userLink p {
  margin-top: 0.4rem;
  text-align: center;
}

.searchHeader {
  text-transform: uppercase;
  padding: 1rem 0;
}

.searchForm .searchContainer {
  position: relative;
}

.searchForm .searchContainer .searchInput {
  background-repeat: no-repeat;
  background-position-x: 0.8rem;
  background-position-y: center;
  background-size: 1.4rem;
  background-color: #55a5da63;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0.6rem 0.6rem 0.6rem 2.8rem;
  max-width: 30rem;
  width: 90%;
  border-radius: 2rem;
  font-size: 1.4rem;
}

.searchForm .searchContainer .submitButton {
  position: absolute;
  left: 0;
  cursor: pointer;
  width: 2.6rem;
  height: 100%;
  color: transparent !important;
  background-color: transparent !important;
  border: none;
}

.caloriesHeading {
  width: 90%;
  max-width: 30rem;
  font-size: 1.4rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1rem;
  margin-bottom: 6rem;
}

.caloriesHeading div {
  background-color: #55a5da63;
  text-align: center;
  padding: 0.2rem;
  width: 5rem;
  border-radius: 2rem;
}

.recipeListContainer {
  margin-top: 4rem;
  margin-bottom: 4rem;
  width: 100%;
  word-break: break-all;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(14rem, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(14rem, 1fr));
  gap: 1em;
}

.recipeListContainer .recipeItem {
  cursor: pointer;
  padding: 0.2rem;
  height: 18rem;
  border: 1px solid #55a5da63;
  background-color: rgba(220, 220, 230, 0.8);
}

.recipeListContainer .recipeItem img {
  width: 100%;
  height: 12rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.recipeListContainer .recipeItem .recipeInfo {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 5.4rem;
  width: 100%;
  padding: 0.2rem 0.4rem 0 0.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.recipeListContainer .recipeItem .recipeInfo .quickInfo {
  margin-top: 0.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.recipeListContainer .recipeItem .recipeInfo .quickInfo div {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0.2rem;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  width: 50%;
  text-align: center;
}

.recipeListContainer .recipeItem .recipeInfo .quickInfo .calInfo {
  border-right: 1px solid grey;
}

.recipeListContainer .recipeItem .recipeInfo .quickInfo .ingredientInfo {
  /* border-left: 1px solid grey; */
}
/*# sourceMappingURL=app.css.map */